
body {
    background-color: plum;
    color:black
    font-family; "DM Serif Text" , serif;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: white;
    color: black;
    font-family: "DM Serif Text", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
