
body {
    background-color: plum;
    color:black
    font-family; "DM Serif Text" , serif;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "DM Serif Text", serif;
}